snippet #! "shebang"
	#!/usr/bin/env bash
snippet if "if"
	if [ ${1:$? -ne 0} ]; then
		$0
	fi
snippet el "elif"
	elif [ $1 ]; then
		$0
snippet fo "for"
	for (( ${2:i=0; $2<${1:count}; $2++ )); do
	    $0
	done
snippet fi "for in"
	for $1 in $2 ; do
	    $0
	done
snippet w "while"
	while [ $1 ]; do
		$0
	done
