priority -50

snippet utf8 "Shebang for coding type" b
# -*- coding: utf-8 -*-
$0
endsnippet

snippet ifmain "ifmain" b
def main():
    $0
if __name__ == '__main__':
    ${1:${VISUAL:main()}}
endsnippet

snippet with "with" b
with $1 as $2:
    $0
endsnippet

snippet ifelse "if else condition" b
if $1:
    $2
else:
    $0
endsnippet
